# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.meta
Unity/GoldenMeadowsU5/Assets/EasyRoads3D/*
Unity/GoldenMeadowsU5/Assets/2PlaneTrees/*
Unity/GoldenMeadowsU5/Assets/American_Elm/*
Unity/GoldenMeadowsU5/Assets/American_Sycamore/*
Unity/GoldenMeadowsU5/Assets/Assets/*
Unity/GoldenMeadowsU5/Assets/Azalea/*
Unity/GoldenMeadowsU5/Assets/Bird Flock/*
Unity/GoldenMeadowsU5/Assets/Bridges/*
Unity/GoldenMeadowsU5/Assets/Bridges_Medinah/*
Unity/GoldenMeadowsU5/Assets/Cold Spring Day Skybox/*
Unity/GoldenMeadowsU5/Assets/Custom Vegetation Shaders/*
Unity/GoldenMeadowsU5/Assets/CustomTrees2/*
Unity/GoldenMeadowsU5/Assets/data/*
Unity/GoldenMeadowsU5/Assets/Editor/*
Unity/GoldenMeadowsU5/Assets/EL_Buildings/*
Unity/GoldenMeadowsU5/Assets/European_White_Birch/*
Unity/GoldenMeadowsU5/Assets/Hard Surface Free/*
Unity/GoldenMeadowsU5/Assets/Materials/*
Unity/GoldenMeadowsU5/Assets/Nature pack 2/*
Unity/GoldenMeadowsU5/Assets/Objects/*
Unity/GoldenMeadowsU5/Assets/Patchy Clouds Day Skybox/*
Unity/GoldenMeadowsU5/Assets/Perfect Parallel Libraries/*
Unity/GoldenMeadowsU5/Assets/PP_water/*
Unity/GoldenMeadowsU5/Assets/Red_Maple/*
Unity/GoldenMeadowsU5/Assets/River_Birch/*
Unity/GoldenMeadowsU5/Assets/RopeFence/*
Unity/GoldenMeadowsU5/Assets/Scripts/*
Unity/GoldenMeadowsU5/Assets/Shaders/*
Unity/GoldenMeadowsU5/Assets/Skyboxes/*
Unity/GoldenMeadowsU5/Assets/Skyboxes1/*
Unity/GoldenMeadowsU5/Assets/Standard Assets/*
Unity/GoldenMeadowsU5/Assets/textures/*
Unity/GoldenMeadowsU5/Assets/Vegetation/*
Unity/GoldenMeadowsU5/Library/*
Unity/GoldenMeadowsU5/ProjectSettings/*
Unity/GoldenMeadowsU5/Removed Assets/*

Unity/GoldenMeadowsU5/Assets/ambient_trees.wav
Unity/GoldenMeadowsU5/Assets/Free Camera.prefab
Unity/GoldenMeadowsU5/Assets/goldenmeadows1_0_5u5.unity
Unity/GoldenMeadowsU5/Assets/goldenmeadows_splash 1.jpg
Unity/GoldenMeadowsU5/Assets/golden_cameo.jpg
Unity/GoldenMeadowsU5/Assets/Grass_normal 2.png
Unity/GoldenMeadowsU5/Assets/New Terrain.asset
Unity/GoldenMeadowsU5/Assets/Perfect Parallel.rar
Unity/GoldenMeadowsU5/Assets/Perfect Parallel/Perfect Engine/Shaders/ppWater.shader
Unity/GoldenMeadowsU5/Assets/texture3.jpg
Unity/GoldenMeadowsU5/Assets/wood 1.physicMaterial
Unity/GoldenMeadowsU5/Assets/wood.physicMaterial
Unity/GoldenMeadowsU5/GoldenMeadowsU5.CSharp.csproj
Unity/GoldenMeadowsU5/GoldenMeadowsU5.CSharp.Editor.csproj
Unity/GoldenMeadowsU5/GoldenMeadowsU5.CSharp.Plugins.csproj
Unity/GoldenMeadowsU5/GoldenMeadowsU5.sln
Unity/GoldenMeadowsU5/GoldenMeadowsU5.v12.suo
